* {
  margin: 0;
  padding: 0;
}

:root {
  --white: hsl(0, 0%, 93%);
  --gray: hsl(90, 1%, 31%);
  --yellow: hsl(48, 100%, 70%);
  --green: hsl(170, 40%, 60%);
  --orange: hsl(1, 85%, 65%);
  --blue: hsl(198, 63%, 38%);
  --card-text: hsl(0, 0%, 0%);
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  position: relative;
}

body.light {
  --background-color: var(--white);
  --primary-color: var(--gray);
  --secondary-color: var(--yellow);
  --tertiary-color: var(--green);
  --header-color: var(--orange);
}

body.dark {
  --background-color: var(--gray);
  --primary-color: var(--white);
  --secondary-color: var(--blue);
  --tertiary-color: var(--green);
  --header-color: var(--orange);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}


section {
  width: 100%;
  margin: auto;
  align-items: center;
}

.page-header {
  margin: 1rem 0;
  text-align: center;
}
