* {
  margin: 0;
  padding: 0;
}

:root {
  --white: #ececec;
  --gray: #50514F;
  --yellow: #FFE066;
  --green: #70C1B3;
  --orange: #F25F5C;
  --blue: #247BA0;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
}

body.light {
  --background-color: var(--white);
  --primary-color: var(--gray);
  --secondary-color: var(--yellow);
  --tertiary-color: var(--green);
  --hover-color: var(--blue);
  --header-color: var(--orange);
}

body.dark {
  --background-color: var(--gray);
  --primary-color: var(--white);
  --secondary-color: var(--blue);
  --tertiary-color: var(--green);
  --hover-color: var(--yellow);
  --header-color: var(--orange);
}

a {
  text-decoration: none;
}

nav {
  box-shadow: 0 2px 5px var(--primary-color);
  width: 100%;
  height: 10vh;
}

.nav-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-title {
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
  color: var(--header-color);
}

.search-bar {
  position: relative;
  width: 50%;
  margin: 0 20px;
  display: flex;
  position: relative; 
  align-items: center;
}

.search-bar label {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.nav-top input {
  font-size: 1.5em;
  border-radius: 20px;
  border: 3px solid var(--primary-color);
  padding: 0 10px;
  width: 22%;
  height: 40px;
  background-color: #f1f1f1;
  outline: none;
  transition: .8s;
}
.search-bar input:focus{
  background-color: white;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 95%;
  transition: .8s;
}

.search-icon img{ 
  position: absolute;
  top: 0;
  margin: 0 -15px;
  background-color: white;
  border: 3px solid var(--primary-color);
  border-left: none;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  height: 40px;
  width: 75px;
  background-color: #f1f1f1;
}

.search-icon img:hover {
  background-color: var(--tertiary-color);
  cursor: pointer;
  transition: .3s;
}

.isVisible {
  visibility: visible;
}

.notVisible {
  visibility: hidden;
  transition: .1s;
}

.nav-buttons {
  margin: 10px;
  font-size: .8em;
}

.nav-buttons button{
  color: var(--primary-color);
  font-size: 1.75em;
  background-color: transparent;
  border: none;
  transition: .2s ease-in;
  margin: 5px 10px;
  padding: 4px;
}
.nav-buttons button:nth-child(odd) {
  height: 40px;
  border-radius: 20px;
}

.nav-buttons button:nth-child(even) {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav-buttons button:hover {
  background-color: var(--secondary-color);
  transition: .2s ease-out;
  cursor: pointer;
}

#darkMode {
  background: transparent url("./assets/moon.png") no-repeat center;
  background-size: 30px 30px;
  width: 40px;
  height: 40px;
  filter: grayscale(100%);
  border: none;
  border-radius: 50%;
}

#darkMode:hover{
  filter: none;
  background-color: var(--hover-color);
  cursor: pointer;
}

#darkMode.clicked {
  filter: invert(99%) sepia(52%) saturate(2%) hue-rotate(316deg) brightness(110%) contrast(101%) !important;
  background-color: var(--hover-color);
}

.nav-categories {
  font-size: 1.15em;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav-categories li {
  margin: 0 15px;
}

.nav-categories li:hover {
  cursor: pointer;
  text-decoration: underline;
}

section {
  width: 100%;
  margin: auto;
  align-items: center;
}

.page-header {
  margin: auto;
  width: 100%;
}

