@import url("../../index.css");

.footer-container {
  position: relative;
  min-height: 15vh;
  background-color: var(--tertiary-color);
  margin-top: 2em;
}

.footer-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2rem;
  border-top: .15rem solid black;
  border-bottom: .15rem solid black;
  z-index: 1;
  background-color: var(--header-color);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-credit {
  margin-left: 10rem;
  color: black;
}

.credit-names {
  display: flex;
  flex-direction: column;
}

.credit-names a {
  color: black;
  font-weight: bolder;
}

.credit-names a:hover {
  text-decoration: underline;
}

.footer-content img{
  filter: invert(0%) sepia(0%) saturate(18%) hue-rotate(293deg) brightness(95%) contrast(105%);
  margin: .75em 1em;
}

.footer-content img:hover{
  filter: invert(91%) sepia(9%) saturate(157%) hue-rotate(340deg) brightness(94%) contrast(92%);
}

.footer-content h3 {
  color: black;
}

/* body.light .footer-content img{
  filter: invert(0%) sepia(94%) saturate(6%) hue-rotate(177deg) brightness(93%) contrast(100%);
}

body.light .footer-content img:hover, body.dark .footer-content img:hover {
  filter: invert(46%) sepia(81%) saturate(860%) hue-rotate(322deg) brightness(96%) contrast(98%);
} */