@import url("../../index.css");

nav {
  background-color: var(--tertiary-color);
  color: var(--header-color);
  width: 100%;
  height: auto;
}

.nav-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-top::after {
  content: "";
  width: 100%;
  height: .175rem;
  background-color: var(--primary-color);
}

.nav-title {
  font-size: 2.5em;
  color: var(--header-color);
  margin-right: 2rem;
}

.search-bar {
  position: relative;
  margin: 0 2em;
  display: flex;
  align-items: center;
  margin: auto;
}

.search-bar label {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.nav-top input {
  color: black;
  font-size: 1.5em;
  border-radius: .35rem;
  border: .2rem solid var(--primary-color);
  padding: 0 .5em;
  width: 100%;
  height: 2rem;
  background-color: #f1f1f1;
  outline: none;
}

.nav-top input:focus {
  background-color: white;
  transition: 250ms;
}

.search-icon img{ 
  position: absolute;
  top: .5rem;
  right: -4.25em;
  background-color: white;
  border: .2rem solid var(--primary-color);
  border-left: none;
  border-bottom-right-radius: .35rem;
  border-top-right-radius: .35rem;
  height: 2rem;
  width: 4rem;
  background-color: #f1f1f1;
}

.search-icon img:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: .3s;
}

.nav-buttons {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  font-size: .8em;
}

.nav-buttons button{
  color: var(--header-color);
  font-size: 1.75em;
  background-color: transparent;
  border: none;
  transition: .2s ease-in;
  margin: .1em .2em;
  padding: .25em;
}
.nav-buttons button:nth-child(odd) {
  height: 3em;
  border-radius: 1.5rem;
}

.nav-buttons button:nth-child(even) {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.nav-buttons button:hover {
  transition: .2s ease-out;
  text-decoration: underline;
  cursor: pointer;
}

.nav-buttons .cart {
  position: relative;
  padding-right: 1.5em;
}

.nav-buttons .cart span{
  margin-left: .5em;
}

.nav-buttons .cart-number {
  /* visibility: hidden; */
  font-size: .75em;
  text-align: center;
  position: absolute;
  bottom: 2rem;
  right: 5rem;
  width: 1.4rem;
  height: 1.4rem;
  background-color: var(--secondary-color);
  color: var(--gray);
  border-radius: 50%;
}

#darkMode {
  background: transparent url("../../assets/moon.jpg") no-repeat center;
  filter: invert(99%) sepia(52%) saturate(2%) hue-rotate(316deg) brightness(110%) contrast(101%) !important;
  background-size: 1.5rem 1.5rem;
  width: 1.75em;;
  height: 1.75em;
  border: none;
  border-radius: 50%;
}

#darkMode:hover{
  filter: none;
  background-color: var(--secondary-color);
  cursor: pointer;
}

#darkMode.clicked {
  background-color: var(--secondary-color);
  filter: invert(99%) sepia(52%) saturate(2%) hue-rotate(316deg) brightness(110%) contrast(101%) !important;
}

.nav-bottom {
  background-color: var(--header-color);
}

.nav-dropdown {
  font-size: 1.25rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.nav-dropdown li {
  color: black;
  display: grid;
  place-items: center;
  padding: 0 5rem;
  min-height: 2.25rem;
  min-width: 4em;
  position: relative;
}

.nav-dropdown li:nth-child(odd) {
  border: .15rem solid var(--primary-color);
  border-bottom: none;
  border-top: none;
}

.nav-dropdown a {
  font-weight: bold;
}

.nav-dropdown li:hover,
.nav-dropdown li:hover > a{
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--gray);
}

.dropdown-menu {
  border-top: .2em solid var(--secondary-color);
  position: absolute;
  background-color: white;
  color: black;
  top: 100%;
  width: 100%;
  box-shadow: 0 .1em .2em 0 hsl(0 0% 0% / 0.5);
  transform: scale(0);
  z-index: 5;
  transition: ease-out 50ms;
  display: flex;
  flex-flow: column wrap;
}

.dropdown-menu a {
  color: var(--gray);
  margin-left: .75em;
  margin-bottom: .1em;
  min-width: max-content;
  font-weight: bold;
}

.dropdown-menu a::before {
  content: " ";
  position: absolute;
  height: 1em;
  width: .2em;
  background-color: hsl(0 0% 0% / .25 );
  left: .1em;
  margin-left: .2em;
  margin-top: .1em;
}

.dropdown-menu a:hover {
 text-decoration: underline;
}

.dropdown-menu a:hover::before {
  background-color: var(--tertiary-color);
}

.nav-dropdown li:hover .dropdown-menu{
  transform: scale(1);
}